<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
	  <a class="navbar-brand" href="{% url 'home'  %}">HomeWorks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'all-tasks'%}">Задания</a>
        </li>
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show-works'%}">Все работы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-task'%}">Добавить задание</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show-works'%}">Мои работы</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register-user' %}">Регистриция</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
          </li>
        {% endif %}
      </ul>
    </div>

  </div>
</nav>
