{% extends 'works/base.html' %}
{% block content %}
	<h1>Задания</h1>
	<br/>
	{% for task in tasks_list  %}
		<div class="card">
			<div class="card-header">
				{{ task }}
			</div>
			<div class="card-body">
				<!-- <h5 class="card-title">{{ task.name }}</h5> -->
				<p class="card-text">
					<p>{{ task.description }}</p>
					<p>Дедлайн сдачи работы: {{ task.deadline }}</p>
				</p>

			</div>
			{% if user.is_authenticated %}
			<div class="card-footer text-muted">
				{% if user.is_superuser %}
 					<a href="{% url 'update-task' task.id %}" class="btn btn-outline-secondary btn-sm">Редактировать задание</a>
					<a href="{% url 'delete-task' task.id %}"  class="btn btn-outline-danger btn-sm">Удалить задание</a>	
				{% else %}
					<a href="{% url 'add-work' task.id %}" class="btn btn-outline-success btn-sm">Сдать работу</a>
				{% endif %}
			</div>
			{% endif %}
		</div>
		<br/>
	{% endfor %}
	<br/>
	{% if user.is_superuser %}
		<center><a href="{% url 'add-task' %}"  class="btn btn-outline-primary btn-sm">Добавить задание</a></center>
	{% endif %}
{% endblock %}
